GtkWindow {
	font-size: 20px;
	color: #ffffff;
	background-color: #000000;
}
 .my_class {
	font-size: 30px;
	color: white;
}
/* .my_class {
  font-family:  SolaimanLipi, KacstBook, Helvetica, Arial, Riwaj, KacstNaskh, mry_KacstQurn, Thabit, B Ferdosi,A_Nefel_Sereki, me_quran, A_Nefel_Adeti, mry_KacstQurn, KacstBook, KFGQPC Uthman Taha Naskh, Traditional Arabic ;
	font-size: 40px;
} */
/* .my_class_en {
font-family:  Georgia;
	font-size: 20px;

}
.my_class_bn{
font-family: SolaimanLipi;
	font-size: 20px;
	background-color: #000000;

} */

/* .my_combobox {
	font-family: Helvetica, Monofur;
	font-size: 16px;
} */

/* spinbutton, button {
    min-height: 1.8rem;
}
.view button {
    min-height: 2.0rem;
}
entry {
    min-height: 2.4rem;
}
entry.cell {
    min-height: 0;
} */